* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  background: #121212;
  color: #fff;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: normal;
}
.container {
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}
.CardCenter {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 90%;
}
